input.mic {
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input.mic:focus {
    outline: 0;
}

body {
    background: #385056;
}

.hover_group:hover {
    cursor: pointer;
}
